.about
{
  display: flex;
  justify-content: space-around;
}

.about__image
{
  margin-top: 95px;
  position: relative;
}

.about__info
{
  position: relative;
  left: 20px;
  top: 3px;
}

.about__title
{
    font-family: $font-family;
    font-size: 24px;
    line-height: 29px;
    color: $main-color;
    font-weight: 500;
}

.about__description
{
  width: 675px;
  font-family: $font-family;
  font-size: 14px;
  line-height: 22px;
  color: $main-color;
  position: relative;
  bottom: 10px;
}

.about__description span
{
  display: block;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {


  .about__image
  {
   display: none;
  }

  .about__title
  {
    margin-left: -50px;
  }


  .about__description
  {
    margin-left: -50px;
    width: 690px;
  }

}

@media screen and (min-width: 320px) and (max-width: 767px) {

   .about
   {
     flex-direction: column;
   }
   .about__image
   {
    display: block;
   }

   .about__image img
   {
    width: 280px;
    margin-left: 20px;
   }

   .about__description
   {
     width: 300px;
   }

}
