.breadcrumbs
{
  margin-left: 110px;
  margin-top: 30px;
  &--ceny
  {
    margin-left: 0px;
  }
}

.breadcrumbs__list
{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  &--ceny
  {
    margin-left: -20px;
    padding-top: 10px;
  }
}

.breadcrumbs__item a
{
  font-family: $font-family;
  font-size: 10px;
  line-height: 34px;
  color: #7B7B7B;
}

.breadcrumbs__item
{
  font-family: $font-family;
  font-size: 10px;
  line-height: 34px;
  color: #7B7B7B;
  margin-right: 2px;
}
