.comments
{
  width: 100%;
  height: 490px;
  background-color: #FBFBFF;
}

.comments-main
{
  display: flex;
}

.comments-main
{
  margin-top: 60px;
}

.comments-main__description
{
    width: 690px;
    font-family: $font-family;
    color: $main-color;
    font-size: 24px;
    line-height: 33px;
    font-weight: 400;
    margin-left: 80px;
}

.comments-main__description span
{
  display: block;
}

.comments-main__description::before
{
  content: "";
  position: absolute;
  width: 55px;
  height:39px;
  background-image: url("../img/icon_quote.svg");
  margin-left: -80px;
  margin-top: 5px;
}

.comments-main__photo
{
  width: 370px;
  text-align: right;
  margin-top: -10px;
}

.comments-link a
{
  @include link();
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  text-decoration: none;
  border-bottom: 1px solid $second-color;
}

.slider
{
  display: flex;
  flex-direction: row;
}

.slider img
{
  margin-top: 60px;
}
