.contacts
{
  height: 615px;
  background: #FFFFFF;
  box-shadow: 0 14px 22px 0 rgba(115,199,255,0.22);
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  margin-bottom: 30px;
}

.contacts_high
{
  display: flex;
  justify-content: space-around;
}

.metro-phone
{
  font-family: $font-family;
  font-size: 36px;
  line-height: 21px;
  color: $main-color;
  font-weight: 500;
  position: relative;
  right: 70px;
  top: 10px;
}

.metro-address
{
  font-family: $font-family;
  font-size: 24px;
  line-height: 21px;
  color: $main-color;
  font-weight: normal;
  position: relative;
  right: 20px;
  top: 5px;
}

.metro-address::before
{
  content: "";
  position: absolute;
  width: 33px;
  height: 23px;
  background-image: url("../img/icon_metrobig.svg");
  margin-left: -45px;
  margin-top: -3px;
}

.contacts__button
{
  margin-top: 45px;
  position: relative;
  left: 100px;
}
.contacts_low
{
  display: flex;
}

.contacts__map
{
  background-image: url("../img/map_big.svg");
  width: 585px;
  height: 300px;
  margin-left: 30px;
}

.contacts__map img
{
  margin-top: 30px;
  margin-left: 55px;
}

.map-description
{
  font-family: $font-family;
  font-size: 16px;
  line-height: 21px;
  color: #7B7B7B;
  font-weight: normal;
  margin-left: 200px;
  margin-top: 45px;
}

.map-description::before
{
  content: "";
  position: absolute;
  width: 68px;
  height: 57px;
  background-image: url("../img/icon_arrow.svg");
  margin-left: -75px;
  margin-top: -45px;
}

.contacts__info
{
  margin-left: 45px;
  margin-top: 5px;
}

.info-name
{
  font-family: $font-family;
  font-size: 24px;
  line-height: 29px;
  color: $main-color;
  font-weight: normal;
}

.info-hours
{
  width: 240px;
  height: 26px;
  background-color: #E9E9E9;
  border-radius: 3px;
  font-family: $font-family;
  font-size: 16px;
  line-height: 21px;
  color: $main-color;
  font-weight: normal;
  padding-left: 10px;
  position: relative;
  top: -10px;
}

.info-phone
{
  font-family: $font-family;
  font-size: 24px;
  line-height: 41px;
  color: $main-color;
  font-weight: normal;
}

.info-phone--double
{
  margin-top: -20px;
}

.info-mail a
{
  font-family: $font-family;
  font-size: 24px;
  line-height: 41px;
  color: $second-color;
  font-weight: normal;
  position: relative;
  bottom: 27px;
}

.info-social
{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin-left: -40px;
}

.info-item
{
  margin-right: 25px;
}

.info-pdf a
{
  font-family: $font-family;
  font-size: 16px;
  line-height: 21px;
  color: #7B7B7B;
  position: relative;
  top: 25px;
  left: 325px;
}

.info-pdf::before
{
  content: "";
  position: absolute;
  width: 30px;
  height: 34px;
  background-image: url("../img/icon_pdf.svg");
  margin-left: 280px;
  margin-top: 15px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {

  .contacts
  {
    width: 678px;
    height: 1150px;
  }

  .contacts__map
  {
    background-image: url("../img/map_big.svg");
    width: 480px;
    height: 500px;
    margin-left: 80px;

  }

  .contacts_high
  {
    display: flex;
    flex-direction:column;
  }

  .contacts_low
  {
    display: flex;
    flex-direction:column;
  }

  .metro-phone
  {
    text-align: center;
    right: 0px;
  }

  .metro-address
  {
    text-align: center;
    right: 0px;
  }

  .contacts__button
  {
    margin-bottom: 40px;
    margin-top: 20px;
    margin-left: 65px;
    left: 0;
  }

  .contacts__info
  {
    margin-left: 80px;
  }

   .info-pdf
   {
     display: none;
   }
}

@media screen and (min-width: 320px) and (max-width: 767px) {


   .contacts
   {
     width: 320px;
     height: 1120px;
   }

   .contacts__map
   {
     background-image: url("../img/map-mobile.svg");
     width: 280px;
     height: 300px;
     margin-left: 25px;
   }

   .contacts__info
   {
     margin-left: 25px;
   }
   .contacts_high
   {
     flex-direction: column;
   }
   .contacts__button
   {
     left: 0px;
   }
  .metro-phone
  {
    left: 15px;
  }

  .metro-address::before
  {
    margin-left: -40px;
    margin-top: -2px;
  }

  .metro-address
  {
    position: relative;
    left: 50px;
    top: 25px;
    width: 280px;
  }
   .contacts_low
   {
     flex-direction: column;
   }

   .map-description
   {
     display: none;
   }

   .map-description::before
   {
      display: none;
   }

   .info-pdf
   {
     display: none;
   }
}
