.contacts__title
{
    @include h1();
    margin-top: 60px;
}

.contacts-info
{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.contacts-block
{
  width: 570px;
  display: flex;
  justify-content: space-around;
}

.contacts-address
{
  margin-left: -10px;
}

.contacts-address__address, .contacts-address__hours
{
  @include p();
}

.contacts-address__address
{
  width: 130px;
  margin-left: 25px;
}

.contacts-address__address::before
{
  content: "";
  position: absolute;
  width: 17px;
  height: 12px;
  background-image: url("../img/icon_metro.png");
  margin-left: -25px;
  margin-top: 5px;
}

.contacts-address__hours
{
  width: 157px;
}

.contacts-address__button
{
  width: 157px;
  height: 20px;
  background-color: #E9E9E9;
  border-radius: 3px;
  text-align: center;
  @include p();
  color: $second-color;
  text-transform: uppercase;
}

.contacts-address__title
{
    @include h3();
}

.contacts-phone
{
  margin-left: -100px;
  height: 90px;
  border-right: 1px solid #E9E9E9;
  padding-right: 90px;
}

.contacts-block__button
{
  @include yellow_button();
  margin-top: 40px;
  margin-bottom: 40px;
}


.contacts-social
{
  width: 570px;
  display: flex;
  justify-content: space-around;
  margin-top: -20px;
}


.contacts-phone__big
{
    @include h3();
}

.contacts-phone__small, .contacts-phone__mail
{
    @include p();
}


.contacts-map__img img
{
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {

  .contacts__title
  {
  }

  .contacts-info
  {
    width: 750px;
    flex-direction: column;
  }

  .contacts-block
  {
    width: auto;
  }

  .contacts-address__hours, .contacts-address__address
  {
    width: auto;
  }
.contacts-phone
{
  margin-left:0px;
  height: auto;
  border-right: none;
  padding-right: 0px;
}

.contacts-phone__small
{
padding-top: 25px;
}

.contacts-social
{
  width: auto;
  margin-left: 0;
}

.contacts-block__button
{
  position: relative;
  left: 150px;
}

}

@media screen and (min-width: 320px) and (max-width: 767px) {


  .contacts-info
  {
    flex-direction: column;
    margin-top: 0px;
  }

  .contacts-block
  {
    width: 310px;
    margin-left: 10px;
    flex-direction: column;
  }

  .contacts__title
  {
    margin-top: 0px;
  }

  .contacts-address
  {
    width: 320px;
  text-align: left;
  margin-left: 20px;
  }

  .contacts-address__address
  {
    width: 300px;
  }

  .contacts-address__hours {
    width: 300px;
}

.contacts-block__button {
    width: 300px;
    margin-left: -10px;
  }


  .contacts-phone
  {
    margin-left: 10px;
    padding-right: 0px;
    text-align: center;
  }
  .contacts-phone__big
  {
    font-size: 18px;
  }

  .contacts-social
  {
    width: 320px;
    flex-direction: column;
    margin-top: 20px;
    text-align: center;
  }

  .watch__list--contacts, .question__list--contacts
  {
    margin-left: 50px;
  }

  .contacts-map__img img
  {
    position: relative;
    top: 10px;
  }
}
