.example-doctor
{
  margin-top: 60px;
}

.example-doctor__title
{
  @include h3();
  margin-top: 40px;
}


@media screen and (min-width: 768px) and (max-width: 1200px) {

  .example-doctor__title
  {
    text-align: center;
  }
}
