
.example-block
{
  padding-top: 60px;
}
.example-before
{
  display: flex;
}

.example-after
{
  display: flex;
}

.example-block__title
{
  width: 890px;
  @include h3();
  margin-bottom: 20px;
}

.example-before__img
{
  margin-right: 20px;
}

.example-before__text
{
  width: 370px;
}

.example-before__text--title
{
  @include h3();
}

.example-before__text--description
{
  @include p();
}

@media screen and (min-width: 320px) and (max-width: 768px) {


  .example-before
  {
    display: flex;
    flex-direction: column;
  }

  .example-after
  {
    display: flex;
    flex-direction: column;
  }

  .example-before__text
  {
    width: 320px;
  }


  .example-block__title
  {
    width: 280px;
  }

}
