.footer
{
  width: 100%;
  background-size: cover;
  height: 410px;
  background-color: #E9E9E9;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 60px;
  &--contacts
  {
    margin-top: -10px;
  }
}

.footer-all
{
  display: flex;
}
.footer__blocks
{
  display: flex;
  justify-content: space-around;
  width: 1050px;
}

.footer__list
{
  list-style-type: none;
  position: relative;
  left: 15px;
  &--double
  {
    position: relative;
    top: 25px;
    left: -5px;
  }

  &--service
  {
    left: 10px;
  }

  &--price
  {
    left: 20px;
  }

  &--work
  {
    position: relative;
    left: 26px;
  }
}

.footer__list--work .footer__item
{
  margin-bottom: 13px;
}

.footer__item--title
{
  font-family: $font-family;
  font-size: 12px;
  line-height: 26px;
  color: #7B7B7B;
  text-transform: uppercase;
}


.footer__item--title a
{
  font-family: $font-family;
  font-size: 12px;
  line-height: 26px;
  color: #7B7B7B;
  text-transform: uppercase;
}


.footer__item a
{
  font-family: $font-family;
  font-size: 12px;
  line-height: 26px;
  color: #7B7B7B;
}

.footer-lic
{
  width: 135px;
  font-family: $font-family;
  font-size: 12px;
  line-height: 15px;
  color: #7B7B7B;
  position: relative;
  left: 127px;
  top: 7px;
}

.footer-lic span
{
  display: block;
}

.footer-lic::before
{
  content: "";
  position: absolute;
  width: 18px;
  height: 25px;
  background-image: url("../img/icon_lic.png");
  margin-left: -25px;
  margin-top: 2px;
}

.footer-phone
{
  font-family: $font-family;
  font-size: 16px;
  line-height: 27px;
  color: $main-color;
  position: relative;
  top: 10px;
  left: 110px;
  &--double
  {
    top: -7px;
  }
}

.footer-hours
{
  font-family: $font-family;
  font-size: 9px;
  line-height: 21px;
  color: #7B7B7B;
  position: relative;
  bottom: 15px;
  left: 112px;
}

.footer-social
{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  position: relative;
  left: 50px;
}

.footer-item
{
  margin-right: 18px;
}

.footer__low
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer__personal a
{
  font-family: $font-family;
  font-size: 12px;
  line-height: 26px;
  color: #7B7B7B;
  position: relative;
  top: 20px;
  right: 132px;
}

.footer__copy
{
  font-family: $font-family;
  font-size: 12px;
  line-height: 26px;
  color: #7B7B7B;
  position: relative;
  top: 25px;
  left: 130px;
}
