.header__info
{
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__logo
{
  width: 181px;
  height: 37px;
  justify-content: flex-start;
  margin-top: 25px;
}

.header__contacts
{
  display: flex;
  flex-direction: column;
  font-family: "Helvetica";
  color: $main-color;
  position: relative;
  left: 20px;
  bottom: 5px;
  text-align: right;
}

.address
{
  width: 120px;
  height: 42px;
  font-size: 14px;
  line-height: 21px;
  color: $main-color;
  margin-left: 30px;

}
.address::before
{
  content: "";
  position: absolute;
  width: 17px;
  height: 12px;
  background-image: url("../img/icon_metro.png");
  left: 15px;
  top: 17px;
}


.map a
{
  font-size: 12px;
  color: #2DAEEC;
  position: relative;
    top: -32px;
    left: -20px;

}

.hours
{
  font-size: 12px;
  color: $main-color;
  position: relative;
  bottom: 55px;
  right: 20px;

}

.phone
{
  font-size: 20px;
  line-height: 21px;
  font-weight: 700;
  position: relative;
  bottom: 75px;
  right: 18px;
}

.header__menu
{
  margin-top: -135px;
  margin-left: -65px;
}
