.header__info
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
}

.header__logo
{
  width: 181px;
  height: 37px;
  justify-content: flex-start;
  margin-top: 25px;
}

.header__contacts
{
  display: flex;
  flex-direction: column;
  font-family: $font-family;
  color: $main-color;
  position: relative;
  bottom: 5px;
  text-align: right;
}

.address
{
  width: 120px;
  height: 42px;
  font-size: 14px;
  line-height: 21px;
  color: $main-color;
  margin-left: 50px;

}
.address::before
{
  content: "";
  position: absolute;
  width: 17px;
  height: 12px;
  background-image: url("../img/icon_metro.svg");
  margin-left: -20px;
  margin-top: 3px;
}


.map a
{
  font-size: 12px;
  color: #2DAEEC;
  position: relative;
  top: -16px;
  text-decoration: none;
  border-bottom: 1px solid #2DAEEC;

}

.hours
{
  font-size: 12px;
  color: $main-color;
  position: relative;
  bottom: 35px;

}

.phone
{
  font-size: 20px;
  line-height: 21px;
  font-weight: 700;
  position: relative;
  bottom: 35px;
}

.header__menu
{
  margin-top: 0px;
  position: relative;
  right: 120px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {

  .header__menu
  {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {

  .header__info
  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }


  .header__contacts
  {
    width: 320px;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  .header__contacts--right
  {
    width: 150px;
    text-align: right;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .header__contacts--left
  {
    width: 150px;
    text-align: left;
  }

  .header__menu
  {
    margin-top: -65px;
    margin-left: -65px;
  }

  .hours
  {
    font-size: 10px;
    color: #383838;
    position: relative;
    top: 25px;

  }

  .phone
  {
    font-size: 20px;
    line-height: 21px;
    font-weight: 700;
    position: relative;
    bottom: 35px;
  }

  .map a
{
  position: relative;
  bottom: 15px;
  left: 20px;
  top: -15px;
}

.address{
  margin-top: 32px;
  width: 120px;
  margin-left: 20px;
}
.phone
{
  font-size: 16px;
}
}
