.help
{
  height: 885px;
  margin: 0 auto;
  background-image: url("../img/help_bg.png");
  background-repeat: no-repeat;
  position: relative;
  margin-top: -40px;
  width: 100%;
  background-size: cover;
}

.help__info
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 40px;
  &--service
  {
    position: relative;
    bottom: 50px;
  }
  &--ceny
  {
    padding-top: 0px;
  }
  &--vrachi
  {
    height: 157px;
    margin-top: -60px;
    margin-left: 20px;
  }
  &--clinika
  {
    padding-top: 0px;
    justify-content: flex-end;
    position: relative;
    bottom: 60px;
  }
}
.help__title
{
  font-family: $font-family;
  font-size: 36px;
  line-height: 43px;
  color: $main-color;
  font-weight: 500;
  position: relative;
  bottom: 12px;
  &--ceny
  {
    position: relative;
    bottom: 25px;
    left: 0px;
  }
}

.help__button
{
  @include blue_button();
  position: relative;
  padding-left: 35px;
}

.help__info--service .help__button
{
  padding-left: 35px;
}

.help__info--ceny .help__button
{
  position: relative;
  padding-left: 35px;
  bottom: 15px;
}

.help__info--vrachi .help__button
{
  margin-top: -15px;
}


.help__button:hover:before
{
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    background-image: url("../img/icon_phone_hover.svg");
    margin-left: -30px;
    margin-top: 6px;
}


.help__button::before
{
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    background-image: url("../img/icon_phone.svg");
    margin-left: -30px;
    margin-top: 6px;
}

.help_blocks
{
  display: flex;
  flex-wrap: wrap;
  margin-top: -20px;
  margin-left: -40px;
  justify-content: start;
  &--uslugi
  {
    margin-left: -20px;
    justify-content: space-between;
  }

}

.help__list
{
  width: 270px;
  list-style-type: none;
  margin-bottom:60px;
  &--correction
  {
    margin-left: -25px;
  }
  &--diagnostika
  {
    margin-left: -10px;
  }
}

.help__list--care img
{
  margin-left: 50px;
  margin-top: -10px;
  margin-bottom: 18px;
}

.help__list--correction img
{
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 25px;
}

.help__list--restoration img
{
    margin-left: 35px;
    margin-top: -20px;
    margin-bottom: 30px;
}

.help__list--diagnostika img
{
  margin-left: 40px;
  margin-top: -10px;
  margin-bottom: 30px;
}


.help__item--title
{
  font-family: $font-family;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  color: $main-color;
  font-weight: normal;
  margin-top: -35px;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.help__list--restoration .help__item--title
{
  padding-bottom: 15px;
}

.help__list--diagnostika .help__item--title
{
  padding-bottom: 15px;
}


.help__item
{
  margin-top: 10px;
  margin-bottom: 10px;
}

.help__item a
{
  @include link();

}

.help__item--laser::after
{
  content: "";
  position: absolute;
  width: 47px;
  height: 21px;
  background-image: url("../img/icon_sale.png");
  margin-left: 10px;
  margin-top: 6px;
}
