.implants-question
{
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}

.implants-question__info
{
  position: relative;
  bottom: 20px;
}

.implants-question__title
{
  @include h3();
}

.implants-question__link a
{
  @include link();
  font-size: 14px;
  line-height: 26px;

}
