.license
{
  width: 100%;
  height: 845px;
  background-color: #FBFBFF;
  padding-top: 60px;
}

.license__all
{
  display: flex;
}

.official
{
  width: 970px;
}


.license-main__title, .sertificate-main__title, .consultation__title
{
  @include h3();
}

.license-main__description, .sertificate-main__description
{
  width: 570px;
  @include p();
}

.license-main__img, .sertificate-main__img
{
  margin-left: -20px;
}

.sertificate-main__link a
{
  @include link();
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  margin-left: 550px;
}

.consultation
{
  width: 370px;
}

.consultation__description
{
  width: 371px;
  height: 73px;
  background-color: #E9E9E9;
  margin-top: 70px;
}

.consultation__text
{
  width: 193px;
  @include p();
  padding-left: 22px;
  padding-top: 13px;
}

.consultation__text::after
{
  content: "";
  position: absolute;
  width: 120px;
  height:124px;
  background-image: url("../img/photo_doctor.svg");
  margin-top: -86px;
  margin-left: 45px;
}

.consultation__button
{
  @include yellow_button();
  width: 371px;
  height: 57px;
}
.consultation__button--mobile
{
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {

  .license
  {
    height: 1100px;
  }

.license__all
{
  display: flex;
flex-direction: column;
}

.official {
    width: 750px;
}

.license-main__title, .sertificate-main__title
{
  text-align: center;
}

.license-main__description, .sertificate-main__description
{
  width:auto;
  text-align: center;
  @include p();
}

.license-main__img, .sertificate-main__img {
    margin-left: 50px;
  }

  .sertificate-main__link a
  {
    margin-left: 0;
  }

  .consultation
  {
    width: auto;
  }
  .consultation__title
  {
    text-align: center;
  }

  .consultation__block
  {
    margin: 0 auto;
    width: 370px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {


    .license
    {
      height: 1700px;
    }
    .official
    {
      width: 320px;
    }
    .license__all
    {
      display: flex;
      flex-direction: column;
      margin-top: 60px;
    }

    .license-main, .sertificate-main
    {
      display: flex;
      flex-direction: column;
      width: 320px;
    }

    .license-main__description, .sertificate-main__description
    {
      width: 320px;
    }

    .describe__text
    {
      width: 300px;
    }

    .describe__description
    {
      width: 200px;
    }

    .sertificate-main__link a
    {
      margin-left: 0px;
    }

    .social
    {
      margin-left: 0px;
    }

    .consultation, .consultation__description, .consultation__button
    {
      width: 320px;
    }

    .consultation__text::after
    {
      margin-left: -5px;
    }

    .consultation__button--mobile
    {
      display: block;
      width: 211px;
      height: 57px;
      margin-left: 0px;
    }

    .consultation__button--mobile a
    {
      text-decoration: none;
      color: $main-color;
    }

}
