.slider_main {
      /* устанавливаем относительное позиционирование элементу */
      position: relative;
      /*display: inline-block;*/
    }

  #slider_main .slider__items {
      /* устанавливаем относительное позиционирование элементу */
      position: relative;
      /* устанавливаем элементу ширину, равную 100% */
      width: 100%;
      overflow: hidden;
    }

    #slider_main .slider__item {
      /* устанавливаем относительное позиционирование элементу */
      position: relative;
      /* отключаем по умолчанию отображение всех слайдов */
      display: none;
      /* устанавливаем элементу ширину, равную 100% */
      width: 100%;
      /* длительность анимации трансформации */
      transition: transform 0.6s ease;
      /* не показывать обратную сторону трансформируемого элемента */
      backface-visibility: hidden;
    }

    #slider_main .slider__item_active,
    #slider_main .slider__item_next,
    #slider_main .slider__item_prev {
      /* отображаем слайд, если он имеет один из этих классов */
      display: block;
    }

    #slider_main .slider__item_next,
    #slider_main .slider__item_prev {
      /* устанавливаем абсолютное позиционирование для элемента, на который будет сменяться слайд (на время трансформации) */
      position: absolute;
      /* устанавливаем положение элемента, т.е. координату top */
      top: 60px;
    }

    #slider_main .slider__item_next.slider__item_left,
    #slider_main .slider__item_prev.slider__item_right {
      /* сдвигаем элемент на 0 по горизонтали */
      transform: translateX(0);
    }

    #slider_main .slider__item_next,
    #slider_main .slider__item_right.slider__item_active {
      /* сдвигаем элемент на 100% по горизонтали */
      transform: translateX(100%);
    }

    #slider_main .slider__item_prev,
    #slider_main .slider__item_left.slider__item_active {
      /* сдвигаем элемент на -100% по горизонтали */
      transform: translateX(-100%);
    }

    /* элементы управления (назад и вперёд) слайдером */

    #slider_main .slider__control {
      position: absolute;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 15%;
      color: #fff;
      text-align: center;
      opacity: 0.5;
    }

    #slider_main .slider__control:hover,
    #slider_main .slider__control:focus {
      color: #fff;
      text-decoration: none;
      outline: 0;
      opacity: .9;
    }

    #slider_main .slider__control_prev {
      left: 0;
    }

    #slider_main .slider__control_next {
      right: 0;
    }

    #slider_main .slider__control::before {
      content: '';
      display: inline-block;
      width: 12px;
      height: 23px;
      background: transparent no-repeat center center;
      background-size: 100% 100%;
    }

    #slider_main .slider__control_prev::before {
      background-image: url("../img/last_arrow.png");
    }

    #slider_main .slider__control_next::before {
      background-image: url("../img/next_arrow.png");
    }

    /* индикаторы слайдера */

    #slider_main .slider__indicators {
      position: absolute;
      right: 0;
      bottom: 10px;
      left: 0;
      z-index: 15;
      display: flex;
      justify-content: center;
      padding-left: 0;
      margin-right: 15%;
      margin-left: 15%;
      list-style: none;
    }

    #slider_main .slider__indicator {
      position: relative;
      flex: 0 1 auto;
      width: 16px;
      height: 16px;
      margin-right: 3px;
      margin-left: 3px;
      text-indent: -999px;
      cursor: pointer;
      background-color:#E9E9E9;
      border-radius: 20px;
    }

    #slider_main .slider__indicator::before {
      position: absolute;
      top: -10px;
      left: 0;
      display: inline-block;
      width: 100%;
      height: 10px;
      content: "";
    }

    #slider_main .slider__indicator::after {
      position: absolute;
      bottom: -10px;
      left: 0;
      display: inline-block;
      width: 100%;
      height: 10px;
      content: "";
    }

    #slider_main .slider__indicator_active {
      background-color: #73C7FF;
    }

    #slider_main .slider__item {}

    #slider_main .slider__item_1 {
      background: transparent;
    }

    #slider_main .slider__item_2 {
        background: transparent;
    }

    #slider_main .slider__item_3 {
      background: transparent;
    }

    #slider_main .slider__item_4 {
      background: transparent;
    }

    /*   .slider__item_inner {
      position: absolute;
      right: 15%;
      bottom: 30px;
      left: 15%;
      z-index: 10;
      padding-top: 20px;
      padding-bottom: 20px;
      color: #fff;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }*/

    #slider_main .slider__item {
      height: 250px;
      overflow: hidden;
    }

    #slider_main .slider__item_inner {
      position: absolute;
      top: 20px;
      bottom: 40px;
      overflow: hidden;
      color: #fff;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-direction: row;

    }

    #slider_main .slider__item_title {
      font-size: 2rem;
    }

    @media screen and (min-width: 320px) and (max-width: 768px) {

      .slider_main
      {
        margin-top: -120px;
      }

      #slider_main .slider__item {
      height: 450px;
      overflow: hidden;
  }
    #slider_main .opinion__image
    {
      margin-left: -20px;
    }
      }
