.main-menu *:focus,.main-menu *::before,.main-menu *::after {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: content-box; /*это свойство обязательно*/
}

.menu_list
{
  max-width: 900px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-around;
}

.menu_item a
{
  font-family: $font-family;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  color: $main-color;
  text-decoration: none;
  font-weight: 400;

}

.menu_item--active a::before
{
  content: "";
  position: absolute;
  width: 17px;
  height: 15px;
  background-image: url("../img/icon_burger.png");
  margin-left: -25px;
  margin-top: 2px;
}

.menu_item--active a
{
  padding-left: 10px;
}

.menu_item--active a
{
  background-color: #73C7FF;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  padding-left: 35px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 3px;
  margin-left: -5px;
}

.menu__overlay{
  display:none;
  position: absolute;

}
a:hover .menu__overlay{
	display: block;
  width: 765px;
  height: 365px;
  background: #FFFFFF;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.23);
  border-radius: 5px;
  z-index: 999;
  margin-top: 20px;
  margin-left: -5px;
}

.menu__overlay--list
{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 35px;
  padding-right: 30px;

}

.menu__overlay--item
{
  width: 280px;
  @include p();
  margin-top: 20px;
  border-bottom: 1px solid #979797;
  padding-bottom: 5px;
}

.menu_item--mobile a
{
  display: none;
}


@media screen and (min-width: 768px) and (max-width: 1200px) {

  .container
  {
    width: 768px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {

  .container
  {
    width: 320px;
    margin: 0 auto;
  }

  .menu_list
  {
    text-align: left;
  }

  .menu_item--active a
  {
    display: none;
  }

  .menu_item a
  {
    font-family: $font-family;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 21px;
    color: $second-color;
    text-decoration: none;
    font-weight: 400;
    background: transparent;
  }

  .menu_item a:hover
  {
    padding-top: 21px;
    padding-bottom: 19px;
    padding-right: 113px;
    background-color: #D8F4FF;
    border-radius: 3px;
  }

  .menu_item--clinika a:hover
  {
    padding-top: 21px;
    padding-bottom: 19px;
    padding-right: 70px;
    background-color: #D8F4FF;
    border-radius: 3px;
  }


  .main-menu .menu_item {
    width: 100%;
    margin-bottom: 20px;
}
.main-menu .menu_list {
  display: none;
  margin-top: -50px;
  width: 150px;
  margin-left: 30%;
}
.main-menu .header__menu::before,
.main-menu::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  background-image: url("../img/burger_menu.svg");
  cursor: pointer;
  height: 26px;
  width: 32px;
}
.main-menu .header__menu::before,
.main-menu::after {
  background-color: transparent;
  border:none;
  margin-top: 30px;
  margin-right: 20px;
}
.main-menu::after {
  z-index: 1;
}
.main-menu .header__menu::before {
  z-index: 2;
}
.main-menu .header__menu:focus::before {
  z-index: 0;
}
.main-menu .header__menu:focus .menu_list,
.main-menu .menu_list:hover { /*решаем проблему со скликиванием*/
  display: block;
}

.menu__overlay
{
  display: none;
}
.menu__overlay--list
{
  display: none;
}

}
