.menu_list
{
  max-width: 900px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-around;
}

.menu_item a
{
  font-family: $font-family;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  color: $main-color;
  text-decoration: none;
  font-weight: 400;

}

.menu_item--active a::before
{
  content: "";
  position: absolute;
  width: 17px;
  height: 15px;
  background-image: url("../img/icon_burger.png");
  margin-left: -25px;
  margin-top: 2px;
}

.menu_item--active a
{
  padding-left: 10px;
}

.menu_item--active a
{
  background-color: #73C7FF;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  padding-left: 35px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 3px;
  margin-left: -5px;
}

.menu__overlay{
  display:none;
  position: absolute;

}
a:hover .menu__overlay{
	display: block;
  width: 765px;
  height: 365px;
  background: #FFFFFF;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.23);
  border-radius: 5px;
  z-index: 999;
  margin-top: 20px;
  margin-left: -5px;
}

.menu__overlay--list
{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 35px;
  padding-right: 30px;

}

.menu__overlay--item
{
  width: 280px;
  @include p();
  margin-top: 20px;
  border-bottom: 1px solid #979797;
  padding-bottom: 5px;
}
