
@media screen and (min-width: 768px){

#sidebarMenu
{
  display: none;
}
input[type="checkbox"]
{
  display: none;
}

}

@media screen and (min-width: 320px) and (max-width: 768px){

  .main-menu
  {
    display: none;
  }

.mobile-menu
{
  display: block;
  margin: 0 auto;
  width: 70px;
  max-width: 100%;
  box-shadow: none;
  background-color: transparent;
  height: 60px!important;
  overflow: hidden !important;
  z-index: 10;
  right: 0px;
  margin-top: 10px;
  position: fixed;
}

#sidebarMenu {
  height: 1024px;
  position: fixed;
  right: 0;
  width: 280px;
  transform: translateX(280px);
  transition: transform 250ms ease-in-out;
  background: #fff;
  z-index: 9998;
  margin-top: -0px;
}

.sidebarMenuInner {
  margin: 0;
  padding: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.10);
}

.sidebarMenuInner li {
  list-style: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

.sidebarMenuInner li span {
  display: block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.50);
}

.sidebarMenuInner li a {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

input[type="checkbox"]:checked ~ #sidebarMenu { transform: translateX(0); }

input[type=checkbox] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}

.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 22px;
  right: 15px;
  height: 22px;
  width: 22px;
  z-index: 9999;
}

.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #000;
}

.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: right;
  margin-top: 3px;
}

.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: right;
}

.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: right;
  margin-top: 3px;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}

.mobile-menu__contacts
{
  display: flex;
  flex-direction: column;
}
.mobile-menu__address
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mobile-menu__street
{
    margin-left: 40px;
}

.mobile-menu__map
{
  margin-left: 20px;
}

.mobile-menu__logo
{
  width: 100px;
  margin-top: 35px;
}

.mobile-menu__phone
{
  font-size: 24px;
  text-align: center;
}
}
