.popup {
	position:fixed;
	top:140px;
	display:none;
	overflow:hidden;
	background: #FFFFFF;
	box-shadow: 0 9px 45px 0 #2795DF;
	border-radius: 10px;
	z-index:9999;
	width: 650px;
	height: 730px;
	&--consultation
	{
		right: 600px;
		top: 50px;
	}
	&--contacts
	{
		margin-left: 250px;
		top: 50px;
	}
	&--coronki
	{
		margin-right: 320px;
		top: 0px;
	}
	&--implants
	{
		margin-right: 800px;
	  top:100px;
	}
	&--kartochka
	{
		margin-left: 200px;
		top:100px;
	}
	&--otzyvy
	{
		margin-left: 250px;
		top:100px;
	}
	&--technology
	{
		margin-left: 220px;
		top: 80px;
	}
	&--entry
	{
		right: 500px;
		top: 70px;
	}
}

.popup-alarm
{
	position:fixed;
	top:140px;
	display:none;
	overflow:hidden;
	background: #FFFFFF;
	box-shadow: 0 9px 45px 0 #2795DF;
	border-radius: 10px;
	z-index:9999;
	width: 670px;
	height: 585px;
	&--ceny
	{
		margin-left: 220px;
	}
	&--contacts
	{
		margin-right: 300px;
		top: 155px;
	}
	&--clinika
	{
		top: 160px;
		margin-right: 300px;
	}
	&--coronki
	{
		margin-right: 300px;
		top: 155px;
	}
	&--uslugi
	{
		margin-left: 260px;
	}
	&--vrachi
	{
		margin-left: 210px;
	}
}
	.close {
		content: "";
	  position: absolute;
	  width: 24px;
	  height: 24px;
	  background-image: url("../img/close.svg");
		z-index:1;
		cursor: pointer;
		float: right;
		margin-top: 40px;
		margin-left: 580px;
	}


	.form {
		position: relative;
		z-index:2;
		background: #FFFFFF;
		z-index:999;
		margin-top: 155px;
	}

		.form input {
			width:96%;
			padding:5px 2%;
			margin:10px 0;
			border-radius:4px;
		}

.popup h2 {
@include h3();
margin-left: 200px;
margin-top: -70px;
}

.popup-alarm h2 {
@include h3();
margin-left: 200px;
margin-top: -70px;
}



/**********popup with form**********/
.reg_form {
width:670px;
margin-left: 120px;
display: flex;
justify-content: center;
flex-direction: column;
vertical-align: middle;
margin-top: 50px;

}
.reg_form form {
margin-top:10px;
margin-left: 130px;
}

.reg_form input[type=text], .reg_form input[type=password] {
margin-bottom:20px;
padding:0 3px;
width:360px;
height:70px;
border:3px solid #2795DF;
border-radius: 40px;
@include p();
font-size: 18px;
line-height: 22px;
color: $main-color;
text-transform: uppercase;
padding-left: 40px;
}


.reg_form input[type=textarea]
{
margin-bottom:10px;
padding:0 3px;
width:360px;
height:148px;
border-radius: 40px;
border:3px solid #2795DF;
border-radius: 40px;
@include p();
font-size: 18px;
line-height: 22px;
color: $main-color;
text-transform: uppercase;
padding-left: 40px;
}

.form__checkbox
{
	margin-top: 10px;
	margin-bottom: 10px;
}

.checkbox {
	display: none;
	margin-left: 10px;
	margin-top: 25px;
	margin-bottom: 30px;
}

.checkbox-custom {
	position: relative;
	background-color: #E9E9E9;
	width: 24px;
	height: 24px;
	border: 2px solid #7B7B7B;
	border-radius: 3px;
}

.checkbox-custom,
.label {
	display: inline-block;
	vertical-align: middle;
	@include p();
}

.label
{
	width: 345px;
	padding-left: 20px;
}

.checkbox:checked + .checkbox-custom::before {
	content: "";
	display: block;
	position: absolute;
	top: 5px;
	right: 5px;
	bottom: 5px;
	left: 5px;
	background: #2795DF;
	border-radius: 2px;
}

.reg_form input[type=submit] {
@include yellow_button();
width: 400px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {

  .service__title
  {
    width: 768px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {

	.popup
	{
	position:fixed;
	top:20px;
	display:none;
	overflow:hidden;
	background: #FFFFFF;
	box-shadow: 0 9px 45px 0 #2795DF;
	border-radius: 10px;
	z-index:9999;
	width: 294px;
	height: 600px;
	margin-left: 10px;
	}

	.popup-alarm
	{
	  width: 294px;
		margin-left: 10px;
		top:10px;
	}

	.popup-alarm h2
	{
		margin-left: 20px;
		margin-bottom: 50px;
	}

	.reg_form {
	width:255px;
	margin-left: 10px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	vertical-align: middle;
	margin-top: 10px;

	}

	.popup h2
	{
		margin-left: 20px;
		margin-top: -120px;
	}

	.reg_form input[type=text], .reg_form input[type=password] {
	margin-bottom:20px;
	padding:0 3px;
	width:230px;
	height:40px;
	border:3px solid #2795DF;
	border-radius: 40px;
	@include p();
	font-size: 18px;
	line-height: 22px;
	color: $main-color;
	text-transform: uppercase;
	padding-left: 40px;
	}

	.reg_form input[type=textarea]
	{
	margin-bottom:10px;
	padding:0 3px;
	width:230px;
	height:100px;
	border-radius: 40px;
	border:3px solid #2795DF;
	border-radius: 40px;
	@include p();
	font-size: 18px;
	line-height: 22px;
	color: $main-color;
	text-transform: uppercase;
	padding-left: 40px;
	}

  .form__checkbox
	{
		margin-left: 10px;
	}

	.label
	{
		width: 220px;
		padding-left: 40px;
		margin-top: -30px;
	}

	.reg_form input[type=submit] {
	@include yellow_button();
	width: 250px;
	margin-left: 15px;
	}

.close
{
	margin-left: 250px;
	z-index: 9999;
	margin-top: 15px;
}

}
