.popup {
padding:5px 15px 15px;
position:fixed;
top:140px;
display:none;
overflow:hidden;
border:1px solid #ccc;
background:#fff;
-moz-border-radius:15px;
-webkit-border-radius:15px;
border-radius:15px;
z-index:999;
}

.popup h2 {
@include h3();
margin-left: 200px;
}

.popup a.close {
width:16px;
height:16px;
display:block;
text-indent:-9999px;
position:absolute;
top:10px;
right:10px;
background-image:url("../img/close.png");
}

/**********popup with form**********/
.reg_form {
width:670px;
height: 730px;
display: flex;
justify-content: center;
flex-direction: column;
vertical-align: middle;

}
.reg_form form {
margin-top:10px;
margin-left: 130px;
}

.reg_form input[type=text], .reg_form input[type=password] {
margin-bottom:20px;
padding:0 3px;
width:400px;
height:70px;
border:1px solid #2795DF;
border-radius: 40px;
@include p();

}

.reg_form input placeholder
{

}
.reg_form input[type=textarea]
{
margin-bottom:10px;
padding:0 3px;
width:400px;
height:148px;
border:1px solid #2795DF;
border-radius: 40px;
}

.reg_form input[type=submit] {
@include yellow_button();
width: 400px;
}
