.popular__title
{
  @include h3();
  margin-left: 25px;
  margin-top: 52px;
  font-weight: 500;

}

.popular__title::after
{
  content: "";
  position: absolute;
  width: 14px;
  height: 13px;
  background-image: url("../img/icon_star.svg");
  margin-left: 8px;
}

.popular__list
{
  list-style-type: none;
  position: relative;
  top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.popular__item
{
  width: 221px;
  @include p();
  text-align: center;
}

.popular__item a
{
  @include p();
  text-decoration: none;
}

.popular__item span
{
  display: block;
}

.popular__item img
{
  height: 80px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {


}

@media screen and (min-width: 320px) and (max-width: 768px) {


  .popular__list
  {
    width: 320px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .popular__item
  {
    width: 120px;
    margin-bottom: 20px;
  }

}
