.popular__title
{
  @include h3();
  margin-left: 25px;
  margin-top: 52px;
  font-weight: 500;

}

.popular__title::after
{
  content: "";
  position: absolute;
  width: 14px;
  height: 13px;
  background-image: url("../img/icon_star.png");
  margin-left: 8px;
}

.popular__list
{
  list-style-type: none;
  width: 1200px;
  margin: 0 auto;
  position: relative;
  top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.popular__item
{
  width: 221px;
  @include p();
  text-align: center;
}

.popular__item span
{
  display: block;
}

.popular__item img
{
  height: 80px;
}
