.registration
{
  display: flex;
  flex-direction: column;
  margin-top: 45px;
  height: 347px;
}

.registration__button
{
  margin-top: 15px;
}

.entry__title
{
  font-family: $font-family;
  font-size: 24px;
  line-height: 29px;
  color: $main-color;
  font-weight: 500;
  width: 230px;
  height: 30px;
}

.entry-all
{
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.entry__photo
{
  margin-top: 45px;
}

.entry__name
{
  font-family: $font-family;
  font-size: 18px;
  line-height: 23px;
  color: $main-color;
  font-weight: 400;
  background-color: #E9E9E9;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 25px;
  padding-right: 60px;
  border-radius: 3px;
}

.entry__name span
{
  font-family: $font-family;
  font-size: 14px;
  line-height: 23px;
  color: $main-color;
  font-weight: 400;
  display: block;
}

.entry__work
{
  width: 235px;
  list-style-type: none;
  display: inline-flex;
}

.entry__item a
{
  font-family: $font-family;
  font-size: 16px;
  line-height: 29px;
  color: $second-color;
  font-weight: 400;
  display: block;
  padding-right: 55px;
}

.entry__item--diplom a
{
  display: block;
}
