.service_list
{
  height: 598px;
  margin: 0 auto;
  background: #FBFBFF;
  background-repeat: no-repeat;
  position: relative;
  &--ceny
  {
    height: 320px;
  }

  &--vrachi
  {
    height: 157px;
  }

  &--clinika
  {
    height: 86px;
  }
  &--kartochka
  {
    height: 156px;
  }

}

@media screen and (min-width: 768px) and (max-width: 1200px) {

  .service_list
  {
    height: 1050px;
    &--ceny
    {
      height: 300px;
    }
    &--clinika
    {
      height: 0px;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {


    .service_list
    {
      height: 1380px;
      &--ceny
      {
        height: 320px;
      }
      &--clinika
      {
        height: 0px;
      }
      &--vrachi
      {
          height: 100px;
      }
      &--kartochka
      {
        height: 156px;
      }
    }
}
