.service
{
  width: 100%;
  height: 500px;
  margin: 0 auto;
  background-image: url("../img/service_bg.png");
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  overflow: hidden;
}

#video_bg {
	/* Делаем так, чтобы видеофон занимал фиксированное положение. */
	top: 0;
	left: 0;
	/* Располагаем наш фон под всем содержимым на странице.
    Для этого используем отрицательный z-index. */
	z-index: -1000;
	/* Растягиваем видео так, чтобы не было видно черных полос и
	чтобы независимо от разрешения экрана видеофон занимал все рабочее пространство. */
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
}

@media (min-aspect-ratio: 16/9) {
	#video_bg {
		height: 500px;
		top: -100%;
	}
}
@media (max-aspect-ratio: 16/9) {
	#video_bg {
		width: 300%;
		left: -100%;
	}
}
@supports (object-fit: cover) {
	#video_bg {
		top: 0;
		left: 0;
		width: 100%;
		height: 500px;
		object-fit: cover;
	}
}

.in{
  position: absolute;
  width:100%;
  height:100%;
  background:#000;
  opacity:0.5;
}

.service-info
{
  position: relative;
  margin-top: -470px;
}

.service__title
{
  font-family: $font-family;
  font-size: 36px;
  line-height: 43px;
  color: #fff;
  font-weight: 500;
  position: relative;
  top: 120px;
  text-align: center;
  left: -100px;
  z-index: 999;
}

.service__description
{
  font-family: $font-family;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
  font-weight: 400;
  position: relative;
  top: 115px;
  text-align: center;
  left: 40px;
}

.service__description span
{
  font-weight: 700;
}

.service__buttons
{
  margin-top: 160px;
  margin-left: -100px;
  display: flex;
  justify-content: center;
}

.appointment
{
  @include yellow_button();
}

.appointment a
{
  text-decoration: none;
  color: $main-color;
}

.appointment::after
{
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  background-image: url("../img/icon_clock.svg");
  margin-top: -6px;
}

.appointment span
{
  font-size: 9px;
  position: relative;
  top: 12px;
  left: 30px;
}

.alarm
{
  font-family:$font-family;
  background-color: transparent;
  border: 1px solid #fff;
  font-size: 14px;
  color: #fff;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding-left: 83px;
  padding-right: 85px;
  padding-top: 18px;
  padding-bottom: 20px;
  border-radius: 3px;
  margin-left: 50px;
}

.alarm--blue
{
  font-family:$font-family;
  background-color: transparent;
  border: 1px solid $second-color;
  font-size: 14px;
  color: $second-color;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 18px;
  padding-bottom: 20px;
  border-radius: 3px;
  margin-left: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {

  .service__title
  {
    width: 768px;
    margin: 0 auto;
    text-align: left;
    position: relative;
    left: 0px;
  }

  .service__description
  {
    text-align: left;
    left: 0px;
  }

  .service__buttons
  {
    margin-left: 100px;
    flex-direction: column;
    display: flex;
  }

  .appointment
  {
    width: 500px;
    margin-bottom: 20px;
    margin-left: 10px;
  }

  .appointment--double
  {
    width: 300px;
  }

  .alarm
  {
    width: 500px;
    height: 57px;
    font-size: 14px;
    margin-left: 10px;
    padding-left: 63px;
    padding-right: 63px;
  }

  .alarm--blue
  {
    width: 300px;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {


  .service__title
  {
    top: 0px;
    left: 0px;
    text-align: left;
    padding-left: 10px;
  }

  .service__description
  {
    top: 0px;
    left: 0px;
    font-size: 14px;
    text-align: left;
    padding-left: 10px;
  }

  .service__buttons
  {
    margin-left: 0px;
    margin-top: 40px;
    flex-direction: column;
  }

  .appointment
  {
    width: 300px;
    margin-bottom: 20px;
    margin-left: 10px;
  }

  .alarm
  {
    width: 300px;
    height: 57px;
    font-size: 14px;
    margin-left: 10px;
    padding-left: 63px;
    padding-right: 63px;
  }
}
