.specification
{
  display: flex;
}

.specification-main
{
  width: 570px;
}

.specification-about
{
  width: 570px;
  margin-top: 65px;
  margin-left: 30px;
}

.specification-all
{
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.specification-proccess__title, .specification-video__title
{
  @include h3();
}

.specification-proccess__text, .specification-description, .specification-proccess__item
{
  @include p();
}

.specification-proccess__item
{
  list-style-type: none;
  margin-left: -15px;
}

.specification-proccess__item::before {

  content: "";
  position: absolute;
  width: 8px;
  height: 10px;
  background-image: url("../img/icon_marker.svg");
  margin-left: -25px;
  margin-top: 7px;
  }

  .specification-kinds
  {
    margin-top: 90px;
  }

  .specification-faq
  {
    margin-top: 80px;
  }

  .specification-video__title
  {
    margin-top: 40px;
  }

  .udalenie-question__text
  {
    @include h3();
    margin-top: 80px;
    margin-bottom: 60px;
  }

  .udalenie-question__text span a
  {
    @include link();
    @include h3();
    color: $second-color;
    text-decoration: none;
    border-bottom: 1px solid $second-color;

  }

  @media screen and (min-width: 768px) and (max-width: 1200px) {

  }

  @media screen and (min-width: 320px) and (max-width: 768px) {

    .specification-all
    {
      flex-direction: column;
    }

    .specification-proccess__list
    {
      width: 320px;
    }

    .specification-proccess__text
    {
      width: 320px;
    }

    .specification-about
    {
      width: 320px;
      margin-top: 0px;
      margin-left: 0px;
    }

    .specification-video__img img
    {
      width: 320px;
      margin-bottom: 30px;
    }


    .specification-kinds
    {
      margin-top: 0px;
    }
    .specification-faq
    {
      width: 320px;
      margin-top: 0px;
    }

    .udalenie-question__text
    {
      margin-top: 0px;
    }
  }
