.technology-question__info
{
  display: flex;
  margin-top: 30px;
}
.technology-question__photo
{
  z-index: 9999;
  position: relative;
  left: 60px;
  bottom: 3px;
}
.technology-question__all
{
  width: 1060px;
  height: 164px;
  background-color: #FBFBFF;
  display: flex;
  margin-top: 70px;
  justify-content: center;
  align-items: center;
  &--implants
  {
    width: 395px;
  }
}
.technology-question__text
{
  font-family: $font-family;
  color: $main-color;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
}
.technology-question__button
{
  @include yellow_button ();
  margin-left: 80px;
  &--implants
  {
    width: 190px;
    margin-left: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {

}

@media screen and (min-width: 320px) and (max-width: 767px) {


	.technology-question{
    display: flex;
    flex-direction: column;
	}

  .technology-question__all
  {
    width: 320px;
    height: 280px;
    flex-direction: column;
    margin-top: -10px;

  }

  .technology-question__photo
  {
    left: 0px;
  }

  .technology-question__info
  {
    flex-direction: column;
    margin-top: 0px;
  }

  .technology-question__description
{
    margin-left: 20px;
    margin-top: -50px;
    margin-bottom: 20px;
}

  .technology-block__table--coronki
  {
    margin-bottom: 0px;
  }

	.technology-block__table--elainer {
		margin-bottom: 0px;
	}

	.technology-block {
	margin-bottom: 30px;
	}

  .technology-question__button {
    width: 280px;
    margin-left: 0px;
  }

  .technology-question__all--implants
  {
    height: 140px;
  }
}
