.tomograph
{
  height: 310px;
  margin: 0 auto;
  background-image: url("../img/tomograph_bg.png");
  background-repeat: no-repeat;
  margin-top: 130px;
  position: relative;
  width: 100%;
  background-size: cover;
}

.tomograph__title
{
  font-family: $font-family;
  font-size: 36px;
  line-height: 43px;
  color: #383838;
  font-weight: 400;
  position: relative;
  top: 45px;
  left: 20px;
}

.tomograph__title span
{
  font-weight: 700;
}

.tomograph__description
{
  font-family: $font-family;
  font-size: 24px;
  line-height: 29px;
  color: #383838;
  font-weight: 400;
  position: relative;
  top: 15px;
  left: 25px;
}

.tomograph__button
{
  font-family: $font-family;
  background-color: #F5F674;
  border: none;
  font-size: 14px;
  color: #383838;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding-left: 53px;
  padding-right: 55px;
  padding-top: 22px;
  padding-bottom: 20px;
  border-radius: 3px;
  margin-top: 20px;
  position: relative;
  left: 20px;
}
