.tomograph
{
  height: 310px;
  margin: 0 auto;
  background-image: url("../img/tomograph_bg.png");
  background-repeat: no-repeat;
  margin-top: 130px;
  position: relative;
  width: 100%;
  background-size: cover;
}

.tomograph__title
{
  @include h1();
  font-weight: 400;
  position: relative;
  top: 45px;
  left: 20px;
}

.tomograph__title span
{
  font-weight: 700;
}

.tomograph__description
{
  font-family: $font-family;
  font-size: 24px;
  line-height: 29px;
  color: $main-color;
  font-weight: 400;
  position: relative;
  top: 15px;
  left: 25px;
}

.tomograph__button
{
  @include yellow_button();
  margin-top: 20px;
  position: relative;
  left: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {

}

@media screen and (min-width: 320px) and (max-width: 767px) {

  .tomograph
  {
    height: 380px;
    margin: 0 auto;
    background-image: url("../img/tomograph_mini.png");
    background-repeat: no-repeat;
    margin-top: 50px;
    position: relative;
    width: 100%;
    background-size: cover;
  }

  .tomograph__title
  {
    left: 10px;
  }

  .tomograph__button
  {
    width: 320px;
  }

  .tomograph__description
  {
    left: 10px;
  }

  .tomograph__button
  {
    left: 10px;
    bottom: 10px;
  }

}
