$font-family: 'Rubik', sans-serif;
$main-color: #383838;
$second-color: #2795DF;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;

$gray-base:     #999999;
$brand-primary: #3498DB;
$outline-width: 0;
$break-point: 500px;


@mixin h1 ()
{
  font-family: $font-family;
  color: $main-color;
  font-size: 36px;
  line-height: 43px;
  font-weight: 500;
}

@mixin h3 ()
{
  font-family: $font-family;
  color: $main-color;
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
}

@mixin p ()
{
  font-family: $font-family;
  color: $main-color;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

@mixin link ()
{
  font-family: $font-family;
  color: $second-color;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-decoration: none;
  border-bottom: 1px solid $second-color;
    &:hover
    {
      color: #73C7FF;
      border-bottom: 1px solid #73C7FF;
    }
}

@mixin big_button ()
{
  width: 360px;
  height: 57px;
  font-family: $font-family;
  color: $second-color;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  background:rgba(0, 0, 0, 0);
  border: 1px solid $second-color;
  border-radius: 3px;
  text-transform: uppercase;
}

@mixin yellow_button ()
{
  width: 323px;
  height: 57px;
  font-family: $font-family;
  color: $main-color;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  background:#F5F674;
  border-radius: 3px;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  &:hover
  {
    background: #FBFCA6;
    box-shadow: 0 22px 10px -18px rgba(212,212,126,0.65);
    border-radius: 4px;
    transition: 0.3s;
    cursor: pointer;
  }
  &:active
  {
    background: #E7E865;
    transition: 0.3s;
    cursor: pointer;
  }
}

@mixin blue_button()
{
  width: 295px;
  height: 34px;
  font-family: $font-family;
  font-size: 14px;
  line-height: 34px;
  color: $second-color;
  background-color: transparent;
  border: 1px solid $second-color;
  &:hover
  {
    background: #2795DF;
    transition: 0.3s;
    cursor: pointer;
    color: #fff;
  }
  &:active
  {
    background: #57B5F4;
    transition: 0.3s;
    cursor: pointer;
    color: #fff;
  }
}
